body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 10px solid #999;
    float: left;
    font-size: 50px;
    color: blue;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
 
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
   margin-left:45% ;
  }
  

  footer{
      position: fixed;
      bottom: 0;
      color: white;
      left: 0;
      background-color: red;
      width: 100%;
  }
  h3{
      text-align: center;
  }
  h1{
      color: red;
  }
.board{
    height: 200px;
}
h2{
  color: green;
  font-weight: 300;
}